<a href="{{ link }}" class="btn btn-primary d-inline-flex" up-target="[layout-main]" {{{ attributes }}}>
  <em class="icon ni ni-{{ icon || 'plus' }}"></em>
  <span class="d-none d-md-block">{{ label || 'Tambah' }}</span>
</a>
