<div class="brand-logo pb-5">
  <a href="{{ base_url() }}" class="logo-link">
    <img width="100%" height="100%" class="logo-light logo-img logo-img-lg" src="{{ logo('light') }}" alt="{{ settings.app.name }}">
    <img width="100%" height="100%" class="logo-dark logo-img logo-img-lg" src="{{ logo('dark') }}" alt="{{ settings.app.name }}">
  </a>
</div>
